# Binaries
bin/
*.so
*.dylib
*.dll
*.exe
/capiscio-core
/capiscio

# Python bindings artifacts
bindings/python/libcapiscio.h

# Test coverage
coverage.txt

# IDEs
.vscode/
.idea/

# Examples
examples/**/client/client
examples/**/server/server
