# CapiscIO Core Documentation

site_name: CapiscIO Core
site_url: https://docs.capisc.io/capiscio-core
site_description: The high-performance Go binary powering the CapiscIO platform.
site_author: CapiscIO Team
copyright: Copyright &copy; 2025 CapiscIO

repo_name: capiscio/capiscio-core
repo_url: https://github.com/capiscio/capiscio-core
edit_uri: edit/main/docs/

theme:
  name: material
  logo: https://docs.capisc.io/assets/logo.png
  favicon: https://docs.capisc.io/assets/favicon.ico
  palette:
    - scheme: slate
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  
  font:
    text: Roboto
    code: Roboto Mono
  
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link

plugins:
  - search:
      lang: en

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  homepage: https://docs.capisc.io
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/capiscio
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/capiscio

nav:
  - Overview: index.md
  - Reference:
      - Architecture: reference/architecture.md
      - CLI Reference: reference/cli.md
